In [1]:
import pandas as pd
import numpy as np
import googlemaps
from datetime import datetime
import acquire_r
from env import google_key
from googlemaps import convert
import wrangle_zillow_r

In [2]:
gmaps = googlemaps.Client(key=google_key)

In [150]:
df = acquire_r.get_zillow_data()

In [151]:
df1 = df[['latitude', 'longitude', 'regionidzip']]

In [152]:
df1 = df1.dropna()

In [153]:
df1 = df1.drop_duplicates('regionidzip', keep='first')
df2 = df1.copy()

In [154]:
df1 = df1.drop(columns = 'regionidzip')

In [158]:
df1 = df1/1000000
df1.head(3)

       latitude  longitude
54984  0.000034  -0.000119
2912   0.000034  -0.000119
52774  0.000034  -0.000119

In [254]:
df2

     index    latitude    longitude  regionidzip
0    54984  34222559.0 -118617387.0      96339.0
1     2912  34238190.0 -118638614.0      96346.0
2    52774  34207150.0 -118630445.0      96342.0
3     2803  34207627.0 -118606039.0      96338.0
4    23096  34180300.0 -118666006.0      96389.0
..     ...         ...          ...          ...
384  18018  34312328.0 -118907683.0      97097.0
385  30260  34231419.0 -118870928.0      96383.0
386  70083  34274500.0 -118810000.0      97118.0
387  54808  34279241.0 -118729175.0      97116.0
388  15832  34196914.0 -118780809.0      96393.0

[389 rows x 4 columns]

In [30]:
df1
records = df1.to_records(index=False)
list2 = list(records)

In [62]:
def zip_code(list):
    geocode_results = []
    for i in range (0, len(list)):
        geocode_results.append(gmaps.reverse_geocode(list[i])[1]['formatted_address'])
    return geocode_results

In [63]:
new_zip = zip_code(list2)

In [64]:
new_zip

['8394 Capistrano Ave, Canoga Park, CA 91304, USA',
 '9243 Johnell Rd, Chatsworth, CA 91311, USA',
 '23112 Covello St, West Hills, CA 91307, USA',
 '7541 Topanga Canyon Blvd, Canoga Park, CA 91303, USA',
 '5963 Vista De La Luz, Woodland Hills, CA 91367, USA',
 '5900 Gleam Ct, Agoura Hills, CA 91301, USA',
 '5890 Jed Smith Rd, Hidden Hills, CA 91302, USA',
 '30841 Monaco Ct, Westlake Village, CA 91362, USA',
 '30860 Agoura Rd, Westlake Village, CA 91361, USA',
 '4626 Larkwood Ave, Woodland Hills, CA 91364, USA',
 '8195 White Oak Ave, Reseda, CA 91335, USA',
 '13031 Hesperia Ave, Reseda, CA 91335, USA',
 '19533 Roscoe Blvd, Northridge, CA 91324, USA',
 '19960 Cantara St, Canoga Park, CA 91306, USA',
 '6375 Enfield Ave, Encino, CA 91316, USA',
 '6020 Melvin Ave, Tarzana, CA 91356, USA',
 '7430 Louise Ave, Van Nuys, CA 91406, USA',
 '8126 Noble Ave, Van Nuys, CA 91402, USA',
 '15115 Saticoy St, Van Nuys, CA 91405, USA',
 '15138 Haynes St, Van Nuys, CA 91411, USA',
 '14103 Hamlin St, Van Nuys, CA 91401, USA',
 '4734 Tyrone Ave, Sherman Oaks, CA 91423, USA',
 '14719 W Magnolia Blvd, Sherman Oaks, CA 91403, USA',
 'Burbank / Encino Golf Clubhouse, Los Angeles, CA 91436, USA',
 '13968 Aubrey Rd, Beverly Hills, CA 90210, USA',
 '14505 Mulholland Dr, Los Angeles, CA 90077, USA',
 '7912 Nagle Ave, North Hollywood, CA 91605, USA',
 '8277 Morse Ave, North Hollywood, CA 91605, USA',
 '7700 Whitsett Ave, Los Angeles, CA 90001, USA',
 '11145 Archwood Pl, North Hollywood, CA 91606, USA',
 '5913 Fair Ave, North Hollywood, CA 91601, USA',
 '11897 Tiara St, Valley Village, CA 91607, USA',
 '11125 Camarillo St, North Hollywood, CA 91602, USA',
 '4499-4417 Wortser Ave, Studio City, CA 91604, USA',
 '3934 Fredonia Dr, Los Angeles, CA 90068, USA',
 '7786 Mulholland Dr, Los Angeles, CA 90046, USA',
 '7713 Scott Rd, Burbank, CA 91504, USA',
 '7539 N Hollywood Way, Burbank, CA 91505, USA',
 '2350 Jeffries Ave, Burbank, CA 91506, USA',
 '215 W Verdugo Ave, Burbank, CA 91502, USA',
 '719 E Santa Anita Ave, Burbank, CA 91501, USA',
 '15524 Monte St, Sylmar, CA 91342, USA',
 '13658 Leach St, San Fernando, CA 91340, USA',
 '11525 Herrick Ave, Pacoima, CA 91331, USA',
 '10600-10698 Wheatland Ave, Shadow Hills, CA 91040, USA',
 '12376 Big Tujunga Canyon Rd, Tujunga, CA 91042, USA',
 '3934 Markridge Rd, Glendale, CA 91214, USA',
 'Balboa / Sesnon, Los Angeles, CA 91344, USA',
 '12589 Louise Ave, Los Angeles, CA 90066, USA',
 '15098 Copper St, Mission Hills, CA 91345, USA',
 '15031 Superior St, North Hills, CA 91343, USA',
 '11311 Tampa Ave, Porter Ranch, CA 91326, USA',
 '27919 Oakgale Ave, Santa Clarita, CA 91351, USA',
 '27624 Spandau Dr, Santa Clarita, CA 91350, USA',
 '27408 Seco Canyon Rd, Santa Clarita, CA 91350, USA',
 '28024 Alta Vista Ave, Santa Clarita, CA 91355, USA',
 '28623 Bouquet Canyon Rd, Santa Clarita, CA 91390, USA',
 '2890 Darbun Dr, Santa Clarita, CA 91321, USA',
 'STEVENSON RNH, CA 91381, USA',
 '15251 Soledad Canyon Rd, Santa Clarita, CA 91387, USA',
 '31725 Ridge Rte Rd, Castaic, CA 91384, USA',
 '41076 38th St W, Palmdale, CA 93551, USA',
 '38814 Carolside Ave, Palmdale, CA 93550, USA',
 '4946 Silver Fox Ave, Palmdale, CA 93552, USA',
 '9651 E Ave Q-4, Palmdale, CA 93591, USA',
 '9735 E Ave S 4, Littlerock, CA 93543, USA',
 '18869 E Ave R 8, Llano, CA 93544, USA',
 '32797 Valyermo Rd, Pearblossom, CA 93553, USA',
 '746-898 Foreston Dr, Acton, CA 93510, USA',
 '40535 161st St E, Lancaster, CA 93535, USA',
 '5803 W Ave M 2, Lancaster, CA 93536, USA',
 '1742 W Ave L, Lancaster, CA 93534, USA',
 '14731 Co Hwy N2, Lake Hughes, CA 93532, USA',
 '5029 W 58th Pl, Los Angeles, CA 90056, USA',
 '528 W Fairview Blvd, Inglewood, CA 90302, USA',
 '4061 W 59th Pl, Los Angeles, CA 90043, USA',
 '2150 W 62nd St, Los Angeles, CA 90047, USA',
 '2514 W 76th St, Inglewood, CA 90305, USA',
 '315 W Hillcrest Blvd, Inglewood, CA 90301, USA',
 '2418 Century Blvd, Inglewood, CA 90303, USA',
 '4045 W 101st St, Inglewood, CA 90304, USA',
 '4590 W 120th St, Hawthorne, CA 90250, USA',
 '13831 Daphne Ave, Gardena, CA 90249, USA',
 '2119 W 160th St, Torrance, CA 90504, USA',
 '1923 W 162nd St, Gardena, CA 90247, USA',
 '15323 Gerkin Ave, Lawndale, CA 90260, USA',
 '2706 Vanderbilt Ln, Redondo Beach, CA 90278, USA',
 'Unnamed Road, Gardena, CA 90248, USA',
 '7098 Alvern St, Los Angeles, CA 90045, USA',
 '7733 W 79th St, Playa Del Rey, CA 90293, USA',
 '8564 S Broadway, Los Angeles, CA 90003, USA',
 '942 Loma Vista St, El Segundo, CA 90245, USA',
 '6160 Canterbury Dr, Culver City, CA 90230, USA',
 '990 Crest Dr, Manhattan Beach, CA 90266, USA',
 '5527 Strand, El Segundo, CA 90245, USA',
 '1619 Carlson Ln, Redondo Beach, CA 90278, USA',
 '8613 Hayden Pl, Culver City, CA 90232, USA',
 'Unnamed Road, Los Angeles, CA 90016, USA',
 '10 Seawalk Dr, Los Angeles, CA 90094, USA',
 'Unnamed Road, Marina Del Rey, CA 90292, USA',
 '1110 Royal Ct, Venice, CA 90291, USA',
 '829 E 31st St, Los Angeles, CA 90011, USA',
 '320 W 15th St, Los Angeles, CA 90015, USA',
 '1323 Walgrove Ave, Los Angeles, CA 90066, USA',
 '11428 National Blvd, Los Angeles, CA 90064, USA',
 '3322 Tilden Ave, Los Angeles, CA 90034, USA',
 '1605 Armacost Ave, Los Angeles, CA 90025, USA',
 '507 S Burlingame Ave, Los Angeles, CA 90049, USA',
 'Brentwood, Los Angeles, CA 90049, USA',
 '12401 Wilshire Blvd, Los Angeles, CA 90025, USA',
 '2912 Arizona Ave, Santa Monica, CA 90404, USA',
 '1238 12th St, Santa Monica, CA 90401, USA',
 '1535 S Wooster St, Los Angeles, CA 90035, USA',
 '2189 Century Woods Way, Los Angeles, CA 90067, USA',
 '10919 Wellworth Ave #210, Los Angeles, CA 90024, USA',
 '9950 Durant Dr, Beverly Hills, CA 90212, USA',
 '244 S Doheny Dr, Beverly Hills, CA 90211, USA',
 '141 S Clark Dr, Los Angeles, CA 90048, USA',
 'Melrose, Los Angeles, CA, USA',
 '1157 Napoli Dr, Pacific Palisades, CA 90272, USA',
 '3170 Santa Maria Rd, Topanga, CA 90290, USA',
 '3737 S Malibu Vista Dr, Malibu, CA 90265, USA',
 '800 W 54th St, Los Angeles, CA 90037, USA',
 '5101 Denker Ave, Los Angeles, CA 90062, USA',
 '4288 Enoro Dr, Los Angeles, CA 90008, USA',
 '3708 Grayburn Ave, Los Angeles, CA 90018, USA',
 'Unnamed Road, Los Angeles, CA 90007, USA',
 '1824 S Hoover St, Los Angeles, CA 90006, USA',
 '1800 Dunsmuir Ave, Los Angeles, CA 90019, USA',
 '424 S Westmoreland Ave, Los Angeles, CA 90020, USA',
 '2832 Sunset Pl, Los Angeles, CA 90005, USA',
 '827 S Longwood Ave, Los Angeles, CA 90005, USA',
 '5046 Long Beach Ave, Los Angeles, CA 90058, USA',
 '812 S Grand View St, Los Angeles, CA 90057, USA',
 '1201-1299 Wilshire Blvd, Los Angeles, CA 90017, USA',
 '855 S Broadway, Los Angeles, CA 90014, USA',
 '420 San Pedro St, Los Angeles, CA 90013, USA',
 '141 Union Pl, Los Angeles, CA 90026, USA',
 '212 S Vendome St, Los Angeles, CA 90057, USA',
 '1855 Industrial St, Los Angeles, CA 90021, USA',
 '1126 Rosalind Ave, Los Angeles, CA 90023, USA',
 '170 A S Gless St, Los Angeles, CA 90033, USA',
 '3125 Fairmount St, Los Angeles, CA 90063, USA',
 '2323 Daly St, Los Angeles, CA 90031, USA',
 '4079 N Mission Rd, Los Angeles, CA 90032, USA',
 '906 N Humphreys Ave, East Los Angeles, CA 90022, USA',
 '540 Cumbre St, Monterey Park, CA 91754, USA',
 '1351 S Eastern Ave, Commerce, CA 90040, USA',
 '626 Bradshawe St, Montebello, CA 90640, USA',
 '2627 Orange Grove Ave, Alhambra, CA 91803, USA',
 '301 N Lincoln Ave, Monterey Park, CA 91755, USA',
 '548 Darlington St, Rosemead, CA 91770, USA',
 '8939 Gallatin Rd, Pico Rivera, CA 90660, USA',
 '9364 Fern St, South El Monte, CA 91733, USA',
 '400 La Paloma Ave, Alhambra, CA 91801, USA',
 '4678 Via Marisol, Los Angeles, CA 90042, USA',
 '1755 Vía Del Rey, South Pasadena, CA 91030, USA',
 '271 Columbia St, Pasadena, CA 91105, USA',
 '710 Huntington Dr, Alhambra, CA 91801, USA',
 '352 E Glenarm St, Pasadena, CA 91106, USA',
 '920 Granite Dr, Pasadena, CA 91101, USA',
 'Del Mar Blvd & Sierra Madre Blvd, Pasadena, CA 91107, USA',
 '8213 Longden Ave, San Gabriel, CA 91775, USA',
 '301 San Marcos St, San Gabriel, CA 91776, USA',
 '1122 Arcadia Ave, Arcadia, CA 91007, USA',
 '6335 Reno Ave, San Gabriel, CA 91775, USA',
 '2106 Lemoyne St, Los Angeles, CA 90026, USA',
 '1003 Manzanita St, Los Angeles, CA 90029, USA',
 '3723 Clayton Ave, Los Angeles, CA 90027, USA',
 '3577 N Figueroa St, Los Angeles, CA 90065, USA',
 '4357 York Blvd, Los Angeles, CA 90041, USA',
 '3785 Wilshire Blvd #10-11, Los Angeles CA 90010, S Western Ave, Los Angeles, CA 90010, USA',
 '809 N Citrus Ave, Los Angeles, CA 90038, USA',
 'Sunset & Van Ness Ave., Los Angeles, CA 90028, USA',
 '3118 Honolulu Ave, Glendale, CA 91214, USA',
 '2743 Montrose Ave, Montrose, CA 91020, USA',
 '927 Sherlock Dr, Burbank, CA 91501, USA',
 '1439 Highland Ave, Glendale, CA 91202, USA',
 '762 Faircourt Ln, Glendale, CA 91203, USA',
 'Brand / Magnolia, Glendale, CA 91205, USA',
 '315 S Glendale Ave, Glendale, CA 91205, USA',
 '232 S Brand Blvd, Glendale, CA 91204, USA',
 '406 E California Ave, Glendale, CA 91206, USA',
 '897 E Glenoaks Blvd, Glendale, CA 91207, USA',
 '666 Berkshire Ave, La Cañada Flintridge, CA 91011, USA',
 '1756 Kenneth Way, Pasadena, CA 91103, USA',
 '796 Garfield Ave, Pasadena, CA 91104, USA',
 '465 N Sunnyside Ave, Sierra Madre, CA 91024, USA',
 '1961 Carolwood Dr, Arcadia, CA 91006, USA',
 '1830 S Eighth Ave, Monrovia, CA 91016, USA',
 '2681 Vista Laguna Terrace, Pasadena, CA 91103, USA',
 '1100 W 58th Pl, Los Angeles, CA 90044, USA',
 '7322 Marbrisa Ave, Huntington Park, CA 90255, USA',
 '715 E 87th Pl, Los Angeles, CA 90003, USA',
 '825 E 108th St, Los Angeles, CA 90059, USA',
 '404 W 108th St, Los Angeles, CA 90061, USA',
 '525 E 169th St, Carson, CA 90746, USA',
 '1147 E 150th St, Compton, CA 90220, USA',
 '1235 E 139th St, Compton, CA 90222, USA',
 '1025 S Long Beach Blvd, Compton, CA 90221, USA',
 '3211 Virginia St, Lynwood, CA 90262, USA',
 '5177 Pendleton Ave, South Gate, CA 90280, USA',
 'Unnamed Road, Cudahy, CA 90201, USA',
 '7326 Irwingrove Dr, Downey, CA 90241, USA',
 '7125 Nada St, Downey, CA 90242, USA',
 '7221 Cortland Ave, Paramount, CA 90723, USA',
 '8344 Florence Ave, Downey, CA 90240, USA',
 '13723 Clark Ave, Bellflower, CA 90706, USA',
 '3700-3798 E 54th St, Maywood, CA 90270, USA',
 '5250 McComber Rd, Buena Park, CA 90621, USA',
 '13551 Moore St, Cerritos, CA 90703, USA',
 '16000 Clarkdale Ave, Norwalk, CA 90650, USA',
 '11900 168th St, Artesia, CA 90701, USA',
 '4598 El Rancho Verde Dr, La Palma, CA 90623, USA',
 '6434 Michelson St, Lakewood, CA 90713, USA',
 '20432 Belshire Ave, Lakewood, CA 90715, USA',
 '12154 214th St, Hawaiian Gardens, CA 90716, USA',
 '7018 E Hanbury St, Long Beach, CA 90808, USA',
 '7150 Eastondale Ave, Long Beach, CA 90805, USA',
 '1334 E Hardwick St, Long Beach, CA 90807, USA',
 '3330 Lewis Ave, Signal Hill, CA 90755, USA',
 '4201-4145 Clubhouse Dr, Lakewood, CA 90712, USA',
 '2980 Daisy Ave, Long Beach, CA 90806, USA',
 'Redondo & Hathway SE, Long Beach, CA 90815, USA',
 '2400 Belmont Ave, Long Beach, CA 90815, USA',
 '6399 E Colorado St, Long Beach, CA 90803, USA',
 '4340 E 7th St, Long Beach, CA 90804, USA',
 '1734 Gaviota Ave, Long Beach, CA 90813, USA',
 '608 St Louis Ave, Long Beach, CA 90814, USA',
 '2611 E Tyler St, Long Beach, CA 90810, USA',
 '61 Paradise Valley N, Carson, CA 90745, USA',
 '771 W 219th St, Torrance, CA 90502, USA',
 '1613 W 218th St, Torrance, CA 90501, USA',
 '805 Patronella Ave, Torrance, CA 90503, USA',
 'Unnamed Road, Torrance, CA 90503, USA',
 '1901 240th St, Lomita, CA 90717, USA',
 '24470 Lakme Ave, Wilmington, CA 90744, USA',
 '1208 Sepulveda Blvd, Torrance, CA 90502, USA',
 'Unnamed Road, San Pedro, CA 90731, USA',
 '2113 Amelia Ave, San Pedro, CA 90731, USA',
 '1572 Amelia Ave, San Pedro, CA 90731, USA',
 '30 Cabrillo Dr, Avalon, CA 90704, USA',
 '810 N Lucia Ave, Redondo Beach, CA 90277, USA',
 '4057 Vía Cardelina, Palos Verdes Estates, CA 90274, USA',
 '9202 Pioneer Blvd, Santa Fe Springs, CA 90670, USA',
 '11204 Laurel Ave, Whittier, CA 90605, USA',
 '11709 Colima Rd, Whittier, CA 90604, USA',
 '2825 Meeker Ave, El Monte, CA 91732, USA',
 '13220 Don Julian Rd, Bassett, CA 91746, USA',
 '649 Basetdale Ave, Whittier, CA 90601, USA',
 '5915 Norwalk Blvd, Whittier, CA 90606, USA',
 '13761 Penn St, Whittier, CA 90602, USA',
 'Anaconda Park, 14575 Anaconda St, Whittier, CA 90603, USA',
 '444 Orange Ave, La Puente, CA 91744, USA',
 'Hacienda Blvd and Tetley St N, Hacienda Heights, CA 91745, USA',
 '1670 Solejar Dr, La Habra Heights, CA 90631, USA',
 '7548 Santa Ysabela Dr, Rowland Heights, CA 91748, USA',
 '2775 S Hillrise Dr, Walnut, CA 91789, USA',
 '20553 Crestline Dr, Diamond Bar, CA 91765, USA',
 '3576 E Temple Way, West Covina, CA 91791, USA',
 '2622 Palomino Dr, Covina, CA 91724, USA',
 '4003 N Garey Ave, Claremont, CA 91711, USA',
 '3800 Garey Ave, La Verne, CA 91750, USA',
 '1256 E 3rd St, Pomona, CA 91766, USA',
 'Garey Ave and Alvarado St S, Pomona, CA 91768, USA',
 '2600-2760 Bonita Ave, La Verne, CA 91750, USA',
 '594 S San Dimas Ave, San Dimas, CA 91773, USA',
 '1068 N Calmgrove Ave, Covina, CA 91724, USA',
 '5010 Azusa Canyon Rd, Irwindale, CA 91706, USA',
 '925 N Citrus Ave, Covina, CA 91722, USA',
 '1827 W Kenoak Dr, West Covina, CA 91790, USA',
 '2115 Flagstone Ave, Duarte, CA 91010, USA',
 '139 Mt Olive Dr, Bradbury, CA 91008, USA',
 '11117 Garvey Ave, El Monte, CA 91733, USA',
 '1034 N Enid Ave, Azusa, CA 91702, USA',
 '523 N Yucca Ridge Rd, Glendora, CA 91741, USA',
 '817 Bonita Ave, Glendora, CA 91740, USA',
 'Bear Canyon Road, 6680 Bear Canyon Dr, Mt Baldy, CA 91759, USA',
 '12846 Rock Crest Ln, Chino Hills, CA 91709, USA',
 '3403 E Hilltonia Dr, West Covina, CA 91792, USA',
 '1910 W 20th St, Santa Ana, CA 92706, USA',
 '917 N Bristol St, Santa Ana, CA 92703, USA',
 '702 S Broadway, Santa Ana, CA 92701, USA',
 '1145 W McFadden Ave, Santa Ana, CA 92703, USA',
 '7512 Moonstone Ct, Huntington Beach, CA 92648, USA',
 '1315 W Valencia Mesa Dr, Fullerton, CA 92833, USA',
 '1069 N Grandview Ave, Fullerton, CA 92835, USA',
 '434 W Valley View Dr, Fullerton, CA 92835, USA',
 '1036 Stanford Ave, Fullerton, CA 92831, USA',
 '928 N West St, Anaheim, CA 92801, USA',
 '902 N Janss St, Anaheim, CA 92805, USA',
 '702 W Damon Ave, Anaheim, CA 92802, USA',
 '19 N Batavia St, Orange, CA 92868, USA',
 '483 N Lemon St, Orange, CA 92866, USA',
 '493 N Glassell St, Orange, CA 92866, USA',
 '315 11th St, Seal Beach, CA 90740, USA',
 '7105 Seashore Dr, Newport Beach, CA 92663, USA',
 '1328 W Bay Ave, Newport Beach, CA 92661, USA',
 '211 Garnet Ave, Newport Beach, CA 92662, USA',
 '1315 Bonnie Doone Terrace, Corona Del Mar, CA 92625, USA',
 '718 Harbor Island Dr, Newport Beach, CA 92660, USA',
 '1018 Emerald Bay, Laguna Beach, CA 92651, USA',
 '128 Avenida Sierra, San Clemente, CA 92672, USA',
 '5943 Burnham Ave, Buena Park, CA 90621, USA',
 '6307-6165 San Ricardo Way, Buena Park, CA 90620, USA',
 '1401 N Daly St, Anaheim, CA 92806, USA',
 '3052 W Rome Ave, Anaheim, CA 92804, USA',
 '7931 Katella Ave, Stanton, CA 90680, USA',
 '6298 Coral Cir, Anaheim, CA 92807, USA',
 '11402 Donovan Rd, Los Alamitos, CA 90720, USA',
 '10682 Vienna Dr, Garden Grove, CA 92840, USA',
 '558 N Wrightwood Dr, Orange, CA 92869, USA',
 '12281 Alta Panorama, North Tustin, CA 92705, USA',
 '13458 Freedom Way, Westminster, CA 92683, USA',
 '8182 Hazard Ave, Midway City, CA 92655, USA',
 '13172 Wilson St, Garden Grove, CA 92844, USA',
 '10181 Larson Avenue, Garden Grove, CA 92843, USA',
 '1299 Skyline Dr, North Tustin, CA 92705, USA',
 '113 Kachina, Irvine, CA 92618, USA',
 '111 Catalonia, Irvine, CA 92618, USA',
 '62 Berkshire Wood, Irvine, CA 92620, USA',
 '28782 Rancho Way, Silverado, CA 92676, USA',
 '8532 Donald Cir, Huntington Beach, CA 92647, USA',
 '10107 Sunn Cir, Fountain Valley, CA 92708, USA',
 '416-514 S Euclid St, Santa Ana, CA 92704, USA',
 '22051 Surfrider Ln, Huntington Beach, CA 92646, USA',
 '295 Broadway, Costa Mesa, CA 92627, USA',
 '31621 Ave De Sacarama Ln, San Juan Capistrano, CA 92675, USA',
 '33518 Valley View Ct, Dana Point, CA 92629, USA',
 '34645 Camino Capistrano, Dana Point, CA 92624, USA',
 '6882 Chapman Ave, Garden Grove, CA 92845, USA',
 'Stanton, CA, USA',
 '6083 Marilyn Dr, Cypress, CA 90630, USA',
 '3289 California St, Costa Mesa, CA 92626, USA',
 '15404 Baffin Cir, Huntington Beach, CA 92649, USA',
 '16305 N Pacific Ave., Huntington Beach, CA 92649, USA',
 '650 Oleander St, Brea, CA 92821, USA',
 '4182 E Santa Fe Rd, Brea, CA 92823, USA',
 '16942 Lake Park Way, Yorba Linda, CA 92886, USA',
 '621 Alcott Ave, Placentia, CA 92870, USA',
 '21675 Casino Ridge Rd, Yorba Linda, CA 92887, USA',
 '8407 E Donnybrook Cir, Anaheim, CA 92808, USA',
 '392 E Lincoln Ave, Orange, CA 92865, USA',
 '9642 Featherhill Dr, Villa Park, CA 92861, USA',
 '1782 Green Meadow Ave, Tustin, CA 92780, USA',
 '123 Santa Maria, Irvine, CA 92606, USA',
 '4987 Lori Ann Ln, Irvine, CA 92604, USA',
 '55 Gillman St, Irvine, CA 92612, USA',
 '23 Calais, Newport Coast, CA 92657, USA',
 '5141 Antioch Dr, Irvine, CA 92603, USA',
 '44 Millgrove, Irvine, CA 92602, USA',
 '20 Cantora, Lake Forest, CA 92610, USA',
 '28999 Oakview Ln, Trabuco Canyon, CA 92679, USA',
 '21106 Paseo Vereda, Lake Forest, CA 92630, USA',
 '23535 Moulton Pkwy, Laguna Hills, CA 92653, USA',
 '25516 Althea Ave, Mission Viejo, CA 92691, USA',
 '23562 Avenida Sevilla, Laguna Woods, CA 92637, USA',
 '27626 Niguel Village Dr, Laguna Niguel, CA 92677, USA',
 '3624 Calle Casino, San Clemente, CA 92673, USA',
 '28832 Escalona Dr, Mission Viejo, CA 92692, USA',
 '20 Celestine Cir, Ladera Ranch, CA 92694, USA',
 '33 Bel Flora, Rancho Santa Margarita, CA 92688, USA',
 'B5531 Via La Mesa, Laguna Woods, CA 92637, USA',
 '35 Harvey Ct, Irvine, CA 92617, USA',
 '8108 Puesta Del Sol, Carpinteria, CA 93013, USA',
 'Rincon Mountain Rd, Ventura, CA 93001, USA',
 '1230 Fairview Ct, Ojai, CA 93023, USA',
 '359 Riverside Rd, Oak View, CA 93022, USA',
 '9769-9593 E Old Creek Rd, Ventura, CA 93001, USA',
 '589 Glade Dr, Santa Paula, CA 93060, USA',
 '1368 Goodenough Rd, Fillmore, CA 93015, USA',
 '994 N Main St, Piru, CA 93040, USA',
 '571 Frances St, Ventura, CA 93003, USA',
 '31 Nevada Ave, Ventura, CA 93004, USA',
 '955 Fairway Dr, Camarillo, CA 93010, USA',
 '4388 Clubhouse Dr, Somis, CA 93066, USA',
 '2696 E Vineyard Ave, Oxnard, CA 93036, USA',
 '316 Mariposa Dr, Camarillo, CA 93012, USA',
 '1511 Joanne Ct, Oxnard, CA 93030, USA',
 '1004 Piedmont St, Oxnard, CA 93035, USA',
 '257 E Garden Green, Port Hueneme, CA 93041, USA',
 '1281 Hill St, Oxnard, CA 93033, USA',
 'W Pleasant Valley Rd, Port Hueneme, CA 93043, USA',
 '618 Cayo Grande Ct, Thousand Oaks, CA 91320, USA',
 '7876 Grimes Canyon Rd, Moorpark, CA 93021, USA',
 '262 Verde Vista Dr, Thousand Oaks, CA 91360, USA',
 '2131 Mandan Pl, Simi Valley, CA 93065, USA',
 '3460 Lockwood Ct, Simi Valley, CA 93063, USA',
 '5066 Jacobs Ct, Oak Park, CA 91377, USA']

In [83]:
new_zip[0].split()[-2][0:5]

'91304'

In [116]:
zip_list = []
for i in range (0, len(new_zip)):
    zip_list.append(new_zip[i].split()[-2][0:5])

In [200]:
df3 = pd.DataFrame(zip_list)

In [251]:
df3

         0
0    91304
1    91311
2    91307
3    91303
4    91367
..     ...
384  93021
385  91360
386  93065
387  93063
388  91377

[389 rows x 1 columns]

In [192]:
df2 = df2.reset_index()

In [194]:
zip_codes = pd.concat([df2, df3], axis =1)

In [198]:
zip_codes = zip_codes.set_index('index').rename(columns = {0:'new_zip'})

In [199]:
zip_codes

         latitude    longitude  regionidzip new_zip
index
54984  34222559.0 -118617387.0      96339.0   91304
2912   34238190.0 -118638614.0      96346.0   91311
52774  34207150.0 -118630445.0      96342.0   91307
2803   34207627.0 -118606039.0      96338.0   91303
23096  34180300.0 -118666006.0      96389.0   91367
...           ...          ...          ...     ...
18018  34312328.0 -118907683.0      97097.0   93021
30260  34231419.0 -118870928.0      96383.0   91360
70083  34274500.0 -118810000.0      97118.0   93065
54808  34279241.0 -118729175.0      97116.0   93063
15832  34196914.0 -118780809.0      96393.0   91377

[389 rows x 4 columns]

In [202]:
zip_codes.to_csv('zip_codes.csv')

In [2]:
zip_codes = pd.read_csv('zip_codes.csv')
zip_codes['new_zip'] = zip_codes.new_zip.astype(float)

In [3]:
zip_codes['new_zip'] = zip_codes.new_zip.astype(int)

In [205]:
income = pd.read_clipboard()

In [215]:
income
income['Zip'] = income['Zip'].astype(int)

In [222]:
zip_income = pd.merge(zip_codes, income, how = 'left', left_on = 'new_zip', right_on = 'Zip')

In [224]:
zip_income.to_csv('zipcode_income.csv')

In [2]:
zillow = pd.read_csv('zillow.csv')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (33,35,62,63,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
single_use = [261, 262, 263, 264, 266, 268, 273, 276, 279]
zillow = zillow[zillow.propertylandusetypeid.isin(single_use)]

In [4]:
zillow.propertylandusetypeid.value_counts()

261.0    52439
266.0    19341
263.0       74
264.0        6
Name: propertylandusetypeid, dtype: int64

In [5]:
zillow = zillow[(zillow.bedroomcnt > 0) & (zillow.bathroomcnt > 0)]

In [6]:
zillow.unitcnt.value_counts()

1.0    45166
2.0       32
3.0        3
6.0        1
Name: unitcnt, dtype: int64

In [7]:
zillow['county'] = np.where(zillow.fips == 6037, 'Los_Angeles',
                            np.where(zillow.fips == 6059, 'Orange', 'Ventura'))

In [8]:
zillow['regionidzip'] = zillow['regionidzip'].replace(399675, 99675)

In [12]:
zillow1.census_tractandblock.isnull().sum()

0

In [10]:
zillow1 = wrangle_zillow_r.zillow_impute_knn(zillow)

In [11]:
zillow1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73752 entries, 0 to 73751
Data columns (total 70 columns):
id                              73752 non-null int64
parcelid                        73752 non-null int64
airconditioningtypeid           23627 non-null float64
architecturalstyletypeid        206 non-null float64
basementsqft                    47 non-null float64
bathroomcnt                     73752 non-null float64
bedroomcnt                      73752 non-null float64
buildingclasstypeid             0 non-null float64
buildingqualitytypeid           46565 non-null float64
calculatedbathnbr               73736 non-null float64
decktypeid                      587 non-null float64
finishedfloor1squarefeet        5818 non-null float64
calculatedfinishedsquarefeet    73742 non-null float64
finishedsquarefeet12            73575 non-null float64
finishedsquarefeet13            0 non-null float64
finishedsquarefeet15            9 non-null float64
finishedsquarefeet50            5818 non-null float64
finishedsquarefeet6             158 non-null float64
fips                            73752 non-null float64
fireplacecnt                    8230 non-null float64
fullbathcnt                     73736 non-null float64
garagecarcnt                    25524 non-null float64
garagetotalsqft                 25524 non-null float64
hashottuborspa                  1552 non-null float64
heatingorsystemtypeid           48198 non-null float64
latitude                        73752 non-null float64
longitude                       73752 non-null float64
lotsizesquarefeet               65435 non-null float64
poolcnt                         16173 non-null float64
poolsizesum                     892 non-null float64
pooltypeid10                    478 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15081 non-null float64
propertycountylandusecode       73752 non-null object
propertylandusetypeid           73752 non-null float64
propertyzoningdesc              46875 non-null object
rawcensustractandblock          73752 non-null float64
regionidcity                    72416 non-null float64
regionidcounty                  73752 non-null float64
regionidneighborhood            29046 non-null float64
roomcnt                         73752 non-null float64
storytypeid                     47 non-null float64
threequarterbathnbr             10123 non-null float64
typeconstructiontypeid          222 non-null float64
unitcnt                         46904 non-null float64
yardbuildingsqft17              2283 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       73710 non-null float64
numberofstories                 17493 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      73645 non-null float64
taxvaluedollarcnt               73751 non-null float64
assessmentyear                  73752 non-null float64
landtaxvaluedollarcnt           73751 non-null float64
taxamount                       73747 non-null float64
taxdelinquencyflag              2781 non-null object
taxdelinquencyyear              2781 non-null float64
logerror                        73752 non-null float64
transactiondate                 73752 non-null object
airconditioningdesc             23627 non-null object
architecturalstyledesc          206 non-null object
buildingclassdesc               0 non-null object
heatingorsystemdesc             48198 non-null object
propertylandusedesc             73752 non-null object
storydesc                       47 non-null object
typeconstructiondesc            222 non-null object
county                          73752 non-null object
haversine_distance              73752 non-null float64
regionid_zip                    73752 non-null int64
census_tractandblock            73752 non-null object
dtypes: float64(54), int64(3), object(13)
memory usage: 40.0+ MB

In [23]:
pd.options.display.float_format = '{:.1f}'.format
zillow1.census_tractandblock.astype(object)

0       60371132321007.0
1       60371132321007.0
2       60371132321007.0
3       60371132321008.0
4       60371132321008.0
              ...
73747   60371132321007.0
73748   60371132321007.0
73749   60371132321007.0
73750   60371132321007.0
73751   60371132321007.0
Name: census_tractandblock, Length: 73752, dtype: object